.body {
    background-color: rgb(var(--800));
    padding: 1rem 2rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 20% 80%;
    position: relative;
}

.user {
    padding: 2rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    color: rgb(var(--text));
    border-right: 1px solid rgb(var(--text));
}

.header {
    background-color: rgb(var(--800));
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
        height: fit-content;
        width: fit-content;
        background-color: transparent;
    }
}

.footer {
    margin-top: 1rem;
    bottom: 0.5rem;
    position: absolute;
    display: flex;
    gap: 1rem;
}