.header {
    margin: 3rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    section {
        display: flex;
        justify-content: space-between;
        background-color: rgb(var(--accent));
        padding: 1rem 2rem;
        border-radius: 1rem;
        box-shadow: var(--shdw1);
    }

    nav {
        display: flex;
        gap: 1rem;

        .navElement {
            position: relative;
            text-align: center;
            display: flex;
            flex-direction: column;
            position: relative;
            font-size: 1rem;

            .action {
                box-shadow: var(--shdw1);
                position: relative;
                width: 10rem;
                z-index: 1;
                padding: 1rem;
                border-radius: 1rem;
                background-color: rgb(var(--800));

                &:hover {
                    cursor: pointer;
                    background-color: rgb(var(--accent));
                }
            }

            .menu {
                top: calc(100% - 1rem);
                left: 0;
                position: absolute;
                z-index: 0;

                width: 10rem;

                padding: 1rem 1rem;
                opacity: 0;
                background-color: rgb(var(--800));
                display: flex;
                flex-direction: column;
                gap: 1rem;
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;

                box-shadow: var(--shdw1);
            }
        }
    }
}